/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
.byebug_history
node_modules/

/.gem_rbs_collection/
/coverage/

/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-journal
/test/dummy/db/*.sqlite3-[0-9]*
/test/dummy/public/system

# Ignore all logfiles and tempfiles.
/test/dummy/log/*
/test/dummy/tmp/*
!/test/dummy/log/.keep
!/test/dummy/tmp/.keep

.env
.env*.local

/.bundle
/vendor/bundle
.byebug_history
/test/dummy/public/packs
/test/dummy/public/packs-test
/test/dummy/public/assets
/test/dummy/storage/*
!/test/dummy/storage/.keep
/test/dummy/public/uploads
/test/dummy/app/assets/builds/*
